header {
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.app {
    justify-content: center;
    align-items: center;
    justify-self: center;
}

*{
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.title {
    justify-content: center;
    align-items: center;
    justify-self: center;

}