/* You can add global styles to this file, and also import other style files */
*{
    
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #8A53E6; 
    color: aliceblue;

}